.register-form {

    &__title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        letter-spacing: 0.03em;
        color: $main-txt-cl;
        margin-bottom: 12px;
    }
    
    &__group {
        margin-bottom: 20px;
    }
    
    &__field {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    
    &__field:last-child {
        margin-bottom: 0;
    }
    
    &__field .content:not(:last-child) {
        margin-bottom: 0;
    }
    
    &__label {
        display: block;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: $txt-cl;
        margin-bottom: 4px;
    }
    
    &__input {
        width: 100%;
        height: 40px;
    
        padding-left: 34px;
        padding-right: 34px;
        
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;

        @include transition(border-color);
    }
    
    &__input::placeholder {
        padding-left: 2px;
    }
    
    &__input:hover ~ &-icon {
        fill: $brand-txt-cl;
    }
    
    &__input:focus {
        border-color: $brand-txt-cl;
    }
    
    &__icon {
        position: absolute;
        top: 60%;
        left: 12px;
        transform: translateY(-50%);

        @include transition(fill);
    }
    
    &__comments {
        display: block;
        resize: none;
        outline: transparent;
    
        width: 100%;
        height: 120px;
        padding: 12px 16px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
    
    &__heading {
        display: block;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: $txt-cl;
        margin-bottom: 4px;
    }
    
    &__comments:focus {
        border-color: $brand-txt-cl;
    }
    
    &__heading::placeholder {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &__agreement {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 7px;
    }
    
    &__desc {
        color: $txt-cl;
    }
    
    &__link {
        color: currentColor;
    }
    
    &__btn { 
        display: flex;
        margin: 0 auto;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: $accent-txt-cl;
        padding: 10px 80px;
        background-color: $buttons-bg-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    
        cursor: pointer;
    }
}
    
    .register-form-checkbox:checked + .register-form-icons .icon-checked {
        opacity: 1;
    }

    .icon-checked {
        opacity: 0;
        fill: $brand-txt-cl;
        @include transition(opacity);
    }
    
    .icon-unchecked {
        opacity: 1;
        @include transition(opacity);
    }
    
    .register-form-checkbox:checked + .register-form-icons .icon-unchecked {
        opacity: 0;
    }
    