.socials {
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
        }
        
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 44px;
        height: 44px;
        
        color: $socials-txt-cl;
        background-color: $second-bg-color;
        border-radius: 50%;

        @include transition-first(background-color, color);
        }
        
    &__link:hover,
    &__link:focus {
        color: $accent-txt-cl;
        background-color: $buttons-bg-color;
        }
        
    &__icon {
        fill: currentColor;
        @include transition(fill);
        }
}
