/* Стилі для скидання верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

/* Клас для скидання базових вдастивостей у списків (ul) */
.list {
list-style: none;
padding: 0;
margin: 0;
}

/* Клас для скидання базових властивостей у посилань */
.link {
text-decoration: none;
color: inherit;
}

/* Властивості для коретного відображення зображень */
img {
display: block;
max-width: 100%;
height: auto;
}

/* Властивості для скидання курсива у address */

address {
font-style: normal;
}

a {
text-decoration: none;
font-style: normal;
}

li {
list-style: none;
}

button {
border: none;
}
