/* Fonts */
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* Text colors */
$main-txt-cl: #212121;
$txt-cl: #757575;;
$brand-txt-cl: #2196F3;
$accent-txt-cl:#FFFFFF;
$socials-txt-cl: #AFB1B8;

/* Background colors */
$main-bg-cl: #E5E5E5;
$accent-bg-cl:#F5F4FA;
$brand-bg-color: #2F303A;
$second-bg-color: #FFFFFF;
$border-bg-color:#ECECEC;
$radius-bg-color: #EEEEEE;
$buttons-bg-color: #2196F3;

/*Others*/
$indent: 30px;
$animtime: 250ms;
$animfunction: cubic-bezier(0.4, 0, 0.2, 1);
